<!DOCTYPE html>
<html lang="de">
	<head>
		<link rel="stylesheet" type="text/css" href="/vendor/select2.css" />
		<link rel="stylesheet" type="text/css" href="/vendor/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/vendor/leaflet.css" />
		<link rel="stylesheet" type="text/css" href="/vendor/MarkerCluster.Default.css" />
		<link rel="stylesheet" type="text/css" href="/vendor/slick.grid.css" />
		<link rel="stylesheet" type="text/css" href="/vendor/map.css" />
		<link rel="stylesheet" type="text/css" href="/vendor/recline.min.css" />

		<meta charset="utf-8" />
		<meta name="generator" content="ckan 2.7.6" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Open Data Zürich - Stadt Zürich</title>

		<link rel="shortcut icon" href="/favicon.ico" />
	</head>

	<body data-site-root="<%= baseUrl %>" data-locale-root="<%= baseUrl %>">
		<div
			data-module="recline_view"
			data-module-site_url="<%=baseUrl%>"
			data-module-resource="<%=resource%>"
			data-module-resource-view="<%=view%>"
			;
			data-module-map_config="{}"
			;
			data-module-dataproxy-url="//jsonpdataproxy.appspot.com"
		>
			<h4 class="loading-dialog">
				<div class="loading-spinner"></div>
				<div class="left">Lädt...</div>
			</h4>
		</div>

		<!--
		<script type="text/javascript">
			_satellite.pageBottom();
		</script>
        -->
		<script>
			document.getElementsByTagName('html')[0].className += ' js';
		</script>
		<script type="text/javascript" src="/vendor/jquery.min.js"></script>
		<script type="text/javascript" src="/vendor/select2.min.js"></script>
		<script type="text/javascript" src="/vendor/main.min.js"></script>
		<script type="text/javascript" src="/vendor/bootstrap.js"></script>
		<script type="text/javascript" src="/vendor/recline.js"></script>
	</body>
</html>
